# String Transformations

In [70]:
!pip install --upgrade more_dfply

Requirement already satisfied: more_dfply in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (0.1.0)
Collecting more_dfply
  Downloading more_dfply-0.1.1-py3-none-any.whl (3.4 kB)
Requirement already satisfied: composable<0.3.0,>=0.2.5 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from more_dfply) (0.2.5)
Requirement already satisfied: dfply<0.4.0,>=0.3.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from more_dfply) (0.3.3)
Requirement already satisfied: toolz<0.12.0,>=0.11.1 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from composable<0.3.0,>=0.2.5->more_dfply) (0.11.1)
Requirement already satisfied: python-forge<19.0,>=18.6 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from composable<0.3.0,>=0.2.5->more_dfply) (18.6.0)
Requirement already satisfied: numpy in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply<0.4.0,>=0.3.3->more_dfply) (1.20.0)
Requirement already satisfied: pandas in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply<0.4.0,>=0.3.3->more_dfply) (1.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply<0.4.0,>=0.3.3->more_dfply) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply<0.4.0,>=0.3.3->more_dfply) (2021.1)
Requirement already satisfied: six>=1.5 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->dfply<0.4.0,>=0.3.3->more_dfply) (1.15.0)
Installing collected packages: more-dfply
  Attempting uninstall: more-dfply
    Found existing installation: more-dfply 0.1.0
    Uninstalling more-dfply-0.1.0:
      Successfully uninstalled more-dfply-0.1.0
Successfully installed more-dfply-0.1.1

In [20]:
!pip install more-dfply

Requirement already satisfied: more-dfply in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (0.1.0)
Requirement already satisfied: composable<0.3.0,>=0.2.5 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from more-dfply) (0.2.5)
Requirement already satisfied: dfply<0.4.0,>=0.3.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from more-dfply) (0.3.3)
Requirement already satisfied: python-forge<19.0,>=18.6 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from composable<0.3.0,>=0.2.5->more-dfply) (18.6.0)
Requirement already satisfied: toolz<0.12.0,>=0.11.1 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from composable<0.3.0,>=0.2.5->more-dfply) (0.11.1)
Requirement already satisfied: numpy in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply<0.4.0,>=0.3.3->more-dfply) (1.20.0)
Requirement already satisfied: pandas in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from dfply<0.4.0,>=0.3.3->more-dfply) (1.2.2)
Requirement already satisfied: pytz>=2017.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply<0.4.0,>=0.3.3->more-dfply) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from pandas->dfply<0.4.0,>=0.3.3->more-dfply) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->dfply<0.4.0,>=0.3.3->more-dfply) (1.15.0)

## Outline

1. Basic string operations<br>
    a. Managing case and whitespace<br>
    b. Replacing substrings<br>
2. Splitting strings and `dfply.separate`
3. Concatenating columns and `dfply.unite`
4. Regular expressions in Python
5. Using functions and RegEx with `df.column.replace`

In [1]:
import pandas as pd
from dfply import *
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
s = pd.Series(['A','B','C'])
s.str.cat(sep=',')

'A,B,C'

## Hiding stack traceback

We hide the exception traceback for didactic reasons (code source: [see this post](https://stackoverflow.com/questions/46222753/how-do-i-suppress-tracebacks-in-jupyter)).  Don't run this cell if you want to see a full traceback.

In [3]:
import sys
ipython = get_ipython()

def hide_traceback(exc_tuple=None, filename=None, tb_offset=None,
                   exception_only=False, running_compiled_code=False):
    etype, value, tb = sys.exc_info()
    return ipython._showtraceback(etype, value, ipython.InteractiveTB.get_exception_only(etype, value))

ipython.showtraceback = hide_traceback

## Data set

We will be using two of the data sets provided by the Museam of Modern Art (MoMA) in this lecture.  Make sure that you have downloaded each repository.  [Download Instructions](./get_MOMA_data.ipynb)

## The exhibition file gives encoding errors by default

In [4]:
exhibitions = pd.read_csv('./data/MoMAExhibitions1929to1989.csv')

## Switching encodings fixes the problem

* See [this Stack Overflow question](https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python)
* More details on [ISO-8859-1](https://en.wikipedia.org/wiki/ISO/IEC_8859-1)

In [5]:
dat_cols = ['ExhibitionBeginDate', 'ExhibitionEndDate', 'ConstituentBeginDate' ,'ConstituentEndDate']
exhibitions = pd.read_csv('./data/MoMAExhibitions1929to1989.csv', 
                          encoding="ISO-8859-1",
                          parse_dates=dat_cols)
exhibitions.head(2)

,ExhibitionID,ExhibitionNumber,ExhibitionTitle,ExhibitionCitationDate,ExhibitionBeginDate,ExhibitionEndDate,ExhibitionSortOrder,ExhibitionURL,ExhibitionRole,ExhibitionRoleinPressRelease,...,Institution,Nationality,ConstituentBeginDate,ConstituentEndDate,ArtistBio,Gender,VIAFID,WikidataID,ULANID,ConstituentURL
0,2557.0,1,"CÃ©zanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",1929-11-07,1929-12-07,1.0,moma.org/calendar/exhibitions/1767,Curator,Director,...,NaN,American,1902,1981,"American, 1902Â1981",Male,109252853.0,Q711362,500241556.0,moma.org/artists/9168
1,2557.0,1,"CÃ©zanne, Gauguin, Seurat, Van Gogh","[MoMA Exh. #1, November 7-December 7, 1929]",1929-11-07,1929-12-07,1.0,moma.org/calendar/exhibitions/1767,Artist,Artist,...,NaN,French,1839,1906,"French, 1839Â1906",Male,39374836.0,Q35548,500004793.0,moma.org/artists/1053

#### MoMA Artists

In [6]:
artists = pd.read_csv("./data/Artists.csv")
artists.head(2)

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930â1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN

#### MoMA Artwork

In [7]:
from more_dfply import fix_names

artwork = (pd.read_csv("./data/Artworks.csv")
           >> fix_names
           >> mutate(id = X.index + 1)
          )
artwork.head(2)

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Circumference_cm,Depth_cm,Diameter_cm,Height_cm,Length_cm,Weight_kg,Width_cm,Seat_Height_cm,Duration_sec,id
0,"FerdinandsbrÃ¼cke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841â1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN,1
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN,2

# Working with Strings

In [8]:
artists.head(2)

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930â1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN

## Working with string  `pandas`

* Available under `df.column.str`
* Match most python methods

## Managing case and whitespace

The following table compare the functions/methods for managing case

| `python` method | `pandas` method  |
| --- | --- |
| `s.lower()` | `df.a.str.lower()`   |
| `s.upper()` | `df.a.str.upper()`   |
| `s.strip()` | `df.a.str.strip()`   |
| `s.lstrip()` | `df.a.str.lstrip()` |
| `s.rstrip()` | `df.a.str.rstrip()` |

In [11]:
help(artwork.Artist.str)

Help on StringMethods in module pandas.core.strings.accessor object:

class StringMethods(pandas.core.base.NoNewAttributesMixin)
 |  StringMethods(data)
 |
 |  Vectorized string functions for Series and Index.
 |
 |  NAs stay NA unless handled otherwise by a particular method.
 |  Patterned after Python's string methods, with some inspiration from
 |  R's stringr package.
 |
 |  Examples
 |  --------
 |  >>> s = pd.Series(["A_Str_Series"])
 |  >>> s
 |  0    A_Str_Series
 |  dtype: object
 |
 |  >>> s.str.split("_")
 |  0    [A, Str, Series]
 |  dtype: object
 |
 |  >>> s.str.replace("_", "")
 |  0    AStrSeries
 |  dtype: object
 |
 |  Method resolution order:
 |      StringMethods
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, data)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  capitalize(self)
 |      Convert strings in the Series/Index to be capitalized.
 |
 |      Equivalent to :meth:`str.capitalize`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  casefold(self)
 |      Convert strings in the Series/Index to be casefolded.
 |
 |      .. versionadded:: 0.25.0
 |
 |      Equivalent to :meth:`str.casefold`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  cat(self, others=None, sep=None, na_rep=None, join='left')
 |      Concatenate strings in the Series/Index with given separator.
 |
 |      If `others` is specified, this function concatenates the Series/Index
 |      and elements of `others` element-wise.
 |      If `others` is not passed, then all values in the Series/Index are
 |      concatenated into a single string with a given `sep`.
 |
 |      Parameters
 |      ----------
 |      others : Series, Index, DataFrame, np.ndarray or list-like
 |          Series, Index, DataFrame, np.ndarray (one- or two-dimensional) and
 |          other list-likes of strings must have the same length as the
 |          calling Series/Index, with the exception of indexed objects (i.e.
 |          Series/Index/DataFrame) if `join` is not None.
 |
 |          If others is a list-like that contains a combination of Series,
 |          Index or np.ndarray (1-dim), then all elements will be unpacked and
 |          must satisfy the above criteria individually.
 |
 |          If others is None, the method returns the concatenation of all
 |          strings in the calling Series/Index.
 |      sep : str, default ''
 |          The separator between the different elements/columns. By default
 |          the empty string `''` is used.
 |      na_rep : str or None, default None
 |          Representation that is inserted for all missing values:
 |
 |          - If `na_rep` is None, and `others` is None, missing values in the
 |            Series/Index are omitted from the result.
 |          - If `na_rep` is None, and `others` is not None, a row containing a
 |            missing value in any of the columns (before concatenation) will
 |            have a missing value in the result.
 |      join : {'left', 'right', 'outer', 'inner'}, default 'left'
 |          Determines the join-style between the calling Series/Index and any
 |          Series/Index/DataFrame in `others` (objects without an index need
 |          to match the length of the calling Series/Index). To disable
 |          alignment, use `.values` on any Series/Index/DataFrame in `others`.
 |
 |          .. versionadded:: 0.23.0
 |          .. versionchanged:: 1.0.0
 |              Changed default of `join` from None to `'left'`.
 |
 |      Returns
 |      -------
 |      str, Series or Index
 |          If `others` is None, `str` is returned, otherwise a `Series/Index`
 |          (same type as caller) of objects is returned.
 |
 |      See Also
 |      --------
 |      split : Split each string in the Series/Index.
 |      join : Join lists contained as elements in the Series/Index.
 |
 |      Examples
 |      --------
 |      When not passing `others`, all values are concatenated into a single
 |      string:
 |
 |      >>> s = pd.Series(['a', 'b', np.nan, 'd'])
 |      >>> s.str.cat(sep=' ')
 |      'a b d'
 |
 |      By default, NA values in the Series are ignored. Using `na_rep`, they
 |      can be given a representation:
 |
 |      >>> s.str.cat(sep=' ', na_rep='?')
 |      'a b ? d'
 |
 |      If `others` is specified, corresponding values are concatenated with
 |      the separator. Result will be a Series of strings.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',')
 |      0    a,A
 |      1    b,B
 |      2    NaN
 |      3    d,D
 |      dtype: object
 |
 |      Missing values will remain missing in the result, but can again be
 |      represented using `na_rep`
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',', na_rep='-')
 |      0    a,A
 |      1    b,B
 |      2    -,C
 |      3    d,D
 |      dtype: object
 |
 |      If `sep` is not specified, the values are concatenated without
 |      separation.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], na_rep='-')
 |      0    aA
 |      1    bB
 |      2    -C
 |      3    dD
 |      dtype: object
 |
 |      Series with different indexes can be aligned before concatenation. The
 |      `join`-keyword works as in other methods.
 |
 |      >>> t = pd.Series(['d', 'a', 'e', 'c'], index=[3, 0, 4, 2])
 |      >>> s.str.cat(t, join='left', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='outer', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      4    -e
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='inner', na_rep='-')
 |      0    aa
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='right', na_rep='-')
 |      3    dd
 |      0    aa
 |      4    -e
 |      2    -c
 |      dtype: object
 |
 |      For more examples, see :ref:`here <text.concatenate>`.
 |
 |  center(self, width, fillchar=' ')
 |      Pad left and right side of strings in the Series/Index.
 |
 |      Equivalent to :meth:`str.center`.
 |
 |      Parameters
 |      ----------
 |      width : int
 |          Minimum width of resulting string; additional characters will be filled
 |          with ``fillchar``.
 |      fillchar : str
 |          Additional character for filling, default is whitespace.
 |
 |      Returns
 |      -------
 |      filled : Series/Index of objects.
 |
 |  contains(self, pat, case=True, flags=0, na=None, regex=True)
 |      Test if pattern or regex is contained within a string of a Series or Index.
 |
 |      Return boolean Series or Index based on whether a given pattern or regex is
 |      contained within a string of a Series or Index.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Character sequence or regular expression.
 |      case : bool, default True
 |          If True, case sensitive.
 |      flags : int, default 0 (no flags)
 |          Flags to pass through to the re module, e.g. re.IGNORECASE.
 |      na : scalar, optional
 |          Fill value for missing values. The default depends on dtype of the
 |          array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
 |          ``pandas.NA`` is used.
 |      regex : bool, default True
 |          If True, assumes the pat is a regular expression.
 |
 |          If False, treats the pat as a literal string.
 |
 |      Returns
 |      -------
 |      Series or Index of boolean values
 |          A Series or Index of boolean values indicating whether the
 |          given pattern is contained within the string of each element
 |          of the Series or Index.
 |
 |      See Also
 |      --------
 |      match : Analogous, but stricter, relying on re.match instead of re.search.
 |      Series.str.startswith : Test if the start of each string element matches a
 |          pattern.
 |      Series.str.endswith : Same as startswith, but tests the end of string.
 |
 |      Examples
 |      --------
 |      Returning a Series of booleans using only a literal pattern.
 |
 |      >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
 |      >>> s1.str.contains('og', regex=False)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning an Index of booleans using only a literal pattern.
 |
 |      >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
 |      >>> ind.str.contains('23', regex=False)
 |      Index([False, False, False, True, nan], dtype='object')
 |
 |      Specifying case sensitivity using `case`.
 |
 |      >>> s1.str.contains('oG', case=True, regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN` replaces NaN values
 |      with `False`. If Series or Index does not contain NaN values
 |      the resultant dtype will be `bool`, otherwise, an `object` dtype.
 |
 |      >>> s1.str.contains('og', na=False, regex=True)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4    False
 |      dtype: bool
 |
 |      Returning 'house' or 'dog' when either expression occurs in a string.
 |
 |      >>> s1.str.contains('house|dog', regex=True)
 |      0    False
 |      1     True
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Ignoring case sensitivity using `flags` with regex.
 |
 |      >>> import re
 |      >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
 |      0    False
 |      1    False
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning any digit using regular expression.
 |
 |      >>> s1.str.contains('\\d', regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3     True
 |      4      NaN
 |      dtype: object
 |
 |      Ensure `pat` is a not a literal pattern when `regex` is set to True.
 |      Note in the following example one might expect only `s2[1]` and `s2[3]` to
 |      return `True`. However, '.0' as a regex matches any character
 |      followed by a 0.
 |
 |      >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
 |      >>> s2.str.contains('.0', regex=True)
 |      0     True
 |      1     True
 |      2    False
 |      3     True
 |      4    False
 |      dtype: bool
 |
 |  count(self, pat, flags=0)
 |      Count occurrences of pattern in each string of the Series/Index.
 |
 |      This function is used to count the number of times a particular regex
 |      pattern is repeated in each of the string elements of the
 |      :class:`~pandas.Series`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Valid regular expression.
 |      flags : int, default 0, meaning no flags
 |          Flags for the `re` module. For a complete list, `see here
 |          <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
 |      **kwargs
 |          For compatibility with other string methods. Not used.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Same type as the calling object containing the integer counts.
 |
 |      See Also
 |      --------
 |      re : Standard library module for regular expressions.
 |      str.count : Standard library version, without regular expression support.
 |
 |      Notes
 |      -----
 |      Some characters need to be escaped when passing in `pat`.
 |      eg. ``'$'`` has a special meaning in regex and must be escaped when
 |      finding this literal character.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])
 |      >>> s.str.count('a')
 |      0    0.0
 |      1    0.0
 |      2    2.0
 |      3    2.0
 |      4    NaN
 |      5    0.0
 |      6    1.0
 |      dtype: float64
 |
 |      Escape ``'$'`` to find the literal dollar sign.
 |
 |      >>> s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat'])
 |      >>> s.str.count('\\$')
 |      0    1
 |      1    0
 |      2    1
 |      3    2
 |      4    2
 |      5    0
 |      dtype: int64
 |
 |      This is also available on Index
 |
 |      >>> pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')
 |      Int64Index([0, 0, 2, 1], dtype='int64')
 |
 |  decode(self, encoding, errors='strict')
 |      Decode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.decode` in python2 and :meth:`bytes.decode` in
 |      python3.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series or Index
 |
 |  encode(self, encoding, errors='strict')
 |      Encode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.encode`.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      encoded : Series/Index of objects
 |
 |  endswith(self, pat, na=None)
 |      Test if the end of each string element matches a pattern.
 |
 |      Equivalent to :meth:`str.endswith`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Character sequence. Regular expressions are not accepted.
 |      na : object, default NaN
 |          Object shown if element tested is not a string. The default depends
 |          on dtype of the array. For object-dtype, ``numpy.nan`` is used.
 |          For ``StringDtype``, ``pandas.NA`` is used.
 |
 |      Returns
 |      -------
 |      Series or Index of bool
 |          A Series of booleans indicating whether the given pattern matches
 |          the end of each string element.
 |
 |      See Also
 |      --------
 |      str.endswith : Python standard library string method.
 |      Series.str.startswith : Same as endswith, but tests the start of string.
 |      Series.str.contains : Tests if string element contains a pattern.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['bat', 'bear', 'caT', np.nan])
 |      >>> s
 |      0     bat
 |      1    bear
 |      2     caT
 |      3     NaN
 |      dtype: object
 |
 |      >>> s.str.endswith('t')
 |      0     True
 |      1    False
 |      2    False
 |      3      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN`.
 |
 |      >>> s.str.endswith('t', na=False)
 |      0     True
 |      1    False
 |      2    False
 |      3    False
 |      dtype: bool
 |
 |  extract(self, pat, flags=0, expand=True)
 |      Extract capture groups in the regex `pat` as columns in a DataFrame.
 |
 |      For each subject string in the Series, extract groups from the
 |      first match of regular expression `pat`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Regular expression pattern with capturing groups.
 |      flags : int, default 0 (no flags)
 |          Flags from the ``re`` module, e.g. ``re.IGNORECASE``, that
 |          modify regular expression matching for things like case,
 |          spaces, etc. For more details, see :mod:`re`.
 |      expand : bool, default True
 |          If True, return DataFrame with one column per capture group.
 |          If False, return a Series/Index if there is one capture group
 |          or DataFrame if there are multiple capture groups.
 |
 |      Returns
 |      -------
 |      DataFrame or Series or Index
 |          A DataFrame with one row for each subject string, and one
 |          column for each group. Any capture group names in regular
 |          expression pat will be used for column names; otherwise
 |          capture group numbers will be used. The dtype of each result
 |          column is always object, even when no match is found. If
 |          ``expand=False`` and pat has only one capture group, then
 |          return a Series (if subject is a Series) or Index (if subject
 |          is an Index).
 |
 |      See Also
 |      --------
 |      extractall : Returns all matches (not just the first match).
 |
 |      Examples
 |      --------
 |      A pattern with two groups will return a DataFrame with two columns.
 |      Non-matches will be NaN.
 |
 |      >>> s = pd.Series(['a1', 'b2', 'c3'])

In [9]:
[m for m in dir(artwork.Artist.str) if not m.startswith('_')]

['capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

## Example - Lower-case Artists

In [11]:
artwork.Artist.str.lower()

0                                               otto wagner
1                                  christian de portzamparc
2                                                emil hoppe
3                                           bernard tschumi
4                                                emil hoppe
                                ...
138146    chesnutt brothers studio, andrew chesnutt, lew...
138147                                   sophie taeuber-arp
138148                                   sophie taeuber-arp
138149                                   sophie taeuber-arp
138150                                   sophie taeuber-arp
Name: Artist, Length: 138151, dtype: object

#### Applying `str.lower` in `pandas`

In [10]:
(artwork
 >> select(X.Artist)
 >> mutate(lower_artist = X.Artist.str.lower())
 >> head(2)
)

                     Artist              lower_artist
0               Otto Wagner               otto wagner
1  Christian de Portzamparc  christian de portzamparc

## Replacing a substring

Another important string operation involves replacing one substring with another.  In this section, we will illustrate using a regular expression to accomplish this task.

## Example - The BeginDate mess

In [10]:
artwork.BeginDate.head()

0    (1841)
1    (1944)
2    (1876)
3    (1944)
4    (1876)
Name: BeginDate, dtype: object

## Using replace to remove the left parenthesis

In [12]:
artwork.BeginDate.str.replace('(', '').head()

/home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0    1841)
1    1944)
2    1876)
3    1944)
4    1876)
Name: BeginDate, dtype: object

## Dot chaining two replace calls

**Note:** Recall you need a `.str.` before each string method

In [13]:
artwork.BeginDate.str.replace('(', '').str.replace(')', '').head()

/home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0    1841
1    1944
2    1876
3    1944
4    1876
Name: BeginDate, dtype: object

## Using a regular expression

Recall that `pandas` method accepts [regular expressions](https://en.wikipedia.org/wiki/Regular_expression), which can be used to replace one of any number of characters.

In [14]:
artwork.BeginDate.str.replace('[()]', '').head()

/home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0    1841
1    1944
2    1876
3    1944
4    1876
Name: BeginDate, dtype: object

# Splitting strings

* `split` - important string tool
* Using `split` on a column returns a column of lists
* `pandas`: `df.c.split(pattern)` returns an object class containing a lists
* Accepts regular expressions

### Example 1 - Splitting the Artists Name

In [15]:
artwork.Artist.str.split(' ').head(2)

0                  [Otto, Wagner]
1    [Christian, de, Portzamparc]
Name: Artist, dtype: object

## `dtype: object` - more than just a string

<img src="./img/split_object.png" width=400>

While `dtype: object` is usually a `str`, this time we get a `list`.

## Using `get` to get one part

Since `split` returns a list, we will need to use `get` to pull out an entry.

In [16]:
artwork.Artist.str.split(' ').str.get(0).head()

0         Otto
1    Christian
2         Emil
3      Bernard
4         Emil
Name: Artist, dtype: object

## Remember negative indexing!

* Negative index == counting from the right

In [17]:
artwork.Artist.str.split(' ').str.get(-1).head()

0         Wagner
1    Portzamparc
2          Hoppe
3        Tschumi
4          Hoppe
Name: Artist, dtype: object

### Example 2 - Splitting the Artists Bio

In [18]:
(artwork
 >> select(X.ArtistBio)
 >> mutate(ArtistBio = X.ArtistBio.str.replace('[()]', ''))
 >> mutate(ArtistiBioNew = X.ArtistBio.str.split(r' ,|, born|-'))).head()

,ArtistBio,ArtistiBioNew
0,"Austrian, 1841â1918","[Austrian, 1841â1918]"
1,"French, born 1944","[French, 1944]"
2,"Austrian, 1876â1957","[Austrian, 1876â1957]"
3,"French and Swiss, born Switzerland 1944","[French and Swiss, Switzerland 1944]"
4,"Austrian, 1876â1957","[Austrian, 1876â1957]"

## <font color="red"> Exercise 1</font>

1. Why didn't splitting on `-` work in the last example?
2. See if you can fix this issue

Did not work splitting on the - because its actually a different - (character)

In [17]:
(artwork
 >> select(X.ArtistBio)
 >> mutate(ArtistBio = X.ArtistBio.str.replace('[()]', ''))
 >> mutate(ArtistiBioNew = X.ArtistBio.str.split(r' ,|, born|â'))).head()

/home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

,ArtistBio,ArtistiBioNew
0,"Austrian, 1841â1918","[Austrian, 1841, 1918]"
1,"French, born 1944","[French, 1944]"
2,"Austrian, 1876â1957","[Austrian, 1876, 1957]"
3,"French and Swiss, born Switzerland 1944","[French and Swiss, Switzerland 1944]"
4,"Austrian, 1876â1957","[Austrian, 1876, 1957]"

## Extracting a substring of a fixed size/position

In `pandas`, use the `str.slice` method
* Use `start=` to specify the optional starting place
* Use `stop=` to specify the optional stopping location

In [72]:
(artwork
 >> select(X.BeginDate) >> mutate(BeginDate = X.BeginDate.str.replace('[()]', ''))
 >> mutate(century = X.BeginDate.str.slice(stop = 2),
           year_in_century = X.BeginDate.str.slice(start = 2))
 >> head(5))

/home/vn6415dw/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/dfply/base.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  **_context_kwargs(kwargs)(x)),

  BeginDate century year_in_century
0      1841      18              41
1      1944      19              44
2      1876      18              76
3      1944      19              44
4      1876      18              76

## Extracting a substring with RegEx

To extract a column in `pandas` with RegEx

* Use `more_dfply.extract(col, pat)` with exactly one group
* `pat` should be a regular expression with exactly one group

In [18]:
from more_dfply import extract

(artwork
 >> select(X.ArtistBio)
 >> mutate(country_of_birth = extract(X.ArtistBio, r', born ([a-zA-Z]+)'),
           year_of_death = extract(X.ArtistBio, r'â(\d{4,4})'))
 >> head(5))

                                   ArtistBio country_of_birth year_of_death
0                      (Austrian, 1841â1918)              NaN          1918
1                        (French, born 1944)              NaN           NaN
2                      (Austrian, 1876â1957)              NaN          1957
3  (French and Swiss, born Switzerland 1944)      Switzerland           NaN
4                      (Austrian, 1876â1957)              NaN          1957

## <font color="red"> Exercise 2 </font>

**Tasks:**

1. Inspect the `sex_and_age` column
2. Use RegEx to extract the following columns
    a. Gender
    b. age_lower_limit
    c. age_upper_limit

Example based on an example from [Wickim (2014)](https://vita.had.co.nz/papers/tidy-data.pdf)

In [19]:
from more_dfply import extract

In [30]:
import re

In [20]:
df = pd.read_csv("./data/TB_bad_stacked.csv")
df.head()

  country  group   cases
0      AD  f0-14     0.0
1      AE  f0-14     4.0
2      AF  f0-14  3500.0
3      AG  f0-14     0.0
4      AI  f0-14     0.0

In [27]:
df.head()

  country  group   cases
0      AD  f0-14     0.0
1      AE  f0-14     4.0
2      AF  f0-14  3500.0
3      AG  f0-14     0.0
4      AI  f0-14     0.0

In [70]:
(df 
>> select(X.group)
>> mutate(Gender = extract(X.group, r'([a-z])'),
          age_lower_limit = extract(X.group, r'(\d+)'),
            age_upper_limit = extract(X.group, r'-(\d\d)'))
)

       group Gender age_lower_limit age_upper_limit
0      f0-14      f               0              14
1      f0-14      f               0              14
2      f0-14      f               0              14
3      f0-14      f               0              14
4      f0-14      f               0              14
...      ...    ...             ...             ...
3451  m55-64      m              55              64
3452  m55-64      m              55              64
3453  m55-64      m              55              64
3454  m55-64      m              55              64
3455  m55-64      m              55              64

[3456 rows x 4 columns]

## Recoding with a `dict` in `pandas`

* Use `more_dfply.recode(col, d, default=None)`
* `d` is the translation `dict`
* Use `default` keyword to add a default value

In [71]:
from more_dfply import recode

new_gender = {'Male':'m', 'Female':'f'}

(artists
 >> mutate(Gender = recode(X.Gender, new_gender))
 >> row_slice([13,14]))

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
13,16,Cristobal Arteche,"Spanish, 1900â1964",Spanish,m,1900,1964,NaN,NaN
14,18,Artko,NaN,NaN,NaN,0,0,NaN,NaN

In [72]:
(artists
 >> mutate(Gender = recode(X.Gender, new_gender, default='Unknown'))
 >> row_slice([13,14]))

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
13,16,Cristobal Arteche,"Spanish, 1900â1964",Spanish,m,1900,1964,NaN,NaN
14,18,Artko,NaN,NaN,Unknown,0,0,NaN,NaN

## <font color="red"> Exercise 3</font>

Use `recode` to create a column called `American` in the `artists` data set that will contains `'Yes'` if the artist is American and `'No'` otherwise.

In [86]:
new_nationality = {'American' : "Yes"}

(artists
>> select(X.Nationality)
>> mutate(American = recode(X.Nationality, new_nationality,default = 'No'))

)

      Nationality American
0        American      Yes
1         Spanish       No
2        American      Yes
3        American      Yes
4          Danish       No
...           ...      ...
15217    American      Yes
15218    American      Yes
15219      German       No
15220         NaN       No
15221         NaN       No

[15222 rows x 2 columns]

# `dfply` column splitting function

Next, we will look at two useful `dfply` functions, `separate` and `unite`

## Using `dfply.separate` to split and create columns 

* Many application of `split` return multiple columns
* Using `str.split` requires many calls to `dfply.mutate`
* `dfply.separate` allows you to get this in one fell swoop

## Example column

Clearly this column violates the Golden Rule.

In [39]:
d = pd.DataFrame({'a':['1-a-3', '1-b', '1-c-3-4', '9-d-1', '10']})
d

         a
0    1-a-3
1      1-b
2  1-c-3-4
3    9-d-1
4       10

## Using separate with `fill='right'`

* Nothing to split in last row
* `fill='right'` $\rightarrow$ `NaN` is *filled in* on the right.

In [40]:
(d 
 >> separate(X.a, ['col1', 'col2'], 
             remove=True, convert=True,
            extra='drop', fill='right'))

   col1 col2
0     1    a
1     1    b
2     1    c
3     9    d
4    10  NaN

## Using separate with `fill='left'`

* Nothing to split in last row
* `fill='left'` $\rightarrow$ `NaN` on the left.

In [41]:
(d 
 >> separate(X.a, ['col1', 'col2'], 
             remove=True, convert=True,
            extra='drop', fill='left'))

   col1 col2
0   1.0    a
1   1.0    b
2   1.0    c
3   9.0    d
4   NaN   10

## Using separate with `extra='merge'`

* `extra='merge'`$\rightarrow$ puts the rest in another column
* No lost data

In [42]:
(d 
 >> separate(X.a, ['col1', 'col2'], 
             remove=False, convert=True,
              extra='merge', fill='right'))

         a  col1   col2
0    1-a-3     1    a-3
1      1-b     1      b
2  1-c-3-4     1  c-3-4
3    9-d-1     9    d-1
4       10    10    NaN

## Using separate with `extra='merge'`

* `extra='merge'`$\rightarrow$ only makes an extra column when needed.

In [43]:
(d 
 >> separate(X.a, ['col1', 'col2', 'col3'], 
             sep=[2,4], remove=True, convert=True,
             extra='merge', fill='right'))

  col1 col2 col3
0   1-   a-    3
1   1-    b  NaN
2   1-   c-  3-4
3   9-   d-    1
4   10  NaN  NaN

## <font color="red"> Exercise 4 </font>

**Tasks:** Use `separate` to pull these data apart into three separate columns in one function call in the `TD_bad_stacked.csv` data.

In [46]:
df = pd.read_csv("./data/TB_bad_stacked.csv")
df.head()

  country  group   cases
0      AD  f0-14     0.0
1      AE  f0-14     4.0
2      AF  f0-14  3500.0
3      AG  f0-14     0.0
4      AI  f0-14     0.0

In [69]:
(df
>> separate(X.group, ['col1','Upper_Age','col3'],remove = True, convert = True,extra = 'drop',fill = 'right')
>> separate(X.col1, ["Gender",'Lower_Age'],sep = [1,3],remove = True, convert = True,extra = 'drop',fill = 'right')
>> select(X.Gender,X.Lower_Age,X.Upper_Age,X.country,X.cases))

     Gender  Lower_Age  Upper_Age country    cases
0         f          0         14      AD      0.0
1         f          0         14      AE      4.0
2         f          0         14      AF   3500.0
3         f          0         14      AG      0.0
4         f          0         14      AI      0.0
...     ...        ...        ...     ...      ...
3451      m         55         64      YE    640.0
3452      m         55         64      ZA  20000.0
3453      m         55         64      ZM   2500.0
3454      m         55         64      ZW   1600.0
3455      m         55         64     NaN    440.0

[3456 rows x 5 columns]